[Desktop Entry]
Name=Foot
GenericName=Terminal
Comment=A fast, lightweight and minimalistic Wayland terminal emulator
Exec=foot
Icon=foot
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
